<%= form_for @recipe do |f| %>
  <p class="alert"><%= @recipe.errors.full_messages.first if @recipe.errors.any? %></p>

  <%= f.label :title, class: "form-label" %>
  <%= f.text_field :title, class: "form-text" %>

  <%= f.label :description, class: "form-label" %>
  <%= f.text_field :description, class: "form-text" %>

  <%= f.label :photo_url, class: "form-label" %>
  <%= f.text_field :photo_url, class: "form-text" %>

  <%= f.label :ingredients, class: "form-label" %>
  <%= f.text_field :ingredients, class: "form-text" %>

  <%= f.label :directions, class: "form-label" %>
  <%= f.text_field :directions, class: "form-text" %>

  <%= f.submit 'Done', class: "submit-button" %>

<% end %>
