<!-- Featured Recipe -->
<section id="featured-photo-container" style="background-image:url('<%= @recipe.photo_url %>');background-position: cover;"></section>
<section id="featured-user-recipe-container">
  <div id="featured-user-recipe-wrapper">
    <span id="featured-user-recipe">Featured Recipe</span>
    <span id="name-of-featured-user-recipe">|</span>
    <span id="name-of-featured-user-recipe"><%= @recipe.title %></span>
  </div>
</section>

<!-- Quote on Home Page -->
<section id="quote-container">
  <h2 id="quote">One cannot think well, love well, or sleep well if one has not dined well.</h3><p id="quote-byline">—Virginia Wolf</p>
</section>

<!-- The Latest Recipes and Add Your Recipe -->
<div class="main-container">
  <section id="the-latest-container">
    <h3 id="the-latest-subhead">The Latest</h3>
    <div id="the-latest-recipes-container">
      <% @recipes.each do |recipe| %>
        <div class="the-latest-recipes">
          <%= link_to recipe do %>
            <%= image_tag recipe.photo_url, class: "small-recipe-thumbnail" %>
          <% end %>
          <p class="small-recipe-title"><%= link_to recipe.title, recipe_path(recipe) %></p>
        </div>
      <% end %>
    <div id="add-recipe-container">
      <%= link_to "Add your recipe", new_recipe_path, id: 'add-recipe' %>
    </div>
    </div>
  </section>
</div>
