<section id="featured-photo-container"></section>

<div class="main-container">

  <section id="recipe-content-container">
    <div id="recipe-content">
      <h3 id="recipe-title"><%= @recipe.title %></h2>
      <p id="recipe-description"><%= @recipe.description %></p>
      <%# image_tag current_user.photo_url, id: 'recipe-user-photo' %>
      <p class="recipe-show-subhead">Ingredients</p>
      <p id="recipe-ingredients"><%= @recipe.ingredients %></p>
      <p class="recipe-show-subhead">Directions</p>
      <p id="recipe-directions"><%= @recipe.directions %></p>
      <p class="edit"><%= link_to "Edit Recipe", edit_recipe_path(@recipe) %></p>
    </div>
    <div class="user-sidebar-container">
      <%= image_tag 'jordan.jpg', id: 'user-sidebar-photo' %>
      <p class="user-sidebar-subhead">Chef</p>
      <p id="user-sidebar-name">Jordan</p>
      <p class="user-sidebar-subhead">Contributions:</p>
      <p id="user-sidebar-contributions"><%= @user.recipes.length %></p>
    </div>
  </section>

</div>
