<section id="featured-photo-container" style="background-image:url('<%= @recipe.photo_url %>');background-position: cover;"></section>

<div class="main-container">
  <section id="recipe-content-container">

    <!-- Details of Recipe -->
    <div id="recipe-content">
      <h3 id="recipe-title"><%= @recipe.title %></h2>
      <p id="recipe-description"><%= @recipe.description %></p>
      <p class="recipe-show-subhead">Ingredients</p>
      <p id="recipe-ingredients"><%= @recipe.ingredients %></p>
      <p class="recipe-show-subhead">Directions</p>
      <p id="recipe-directions"><%= @recipe.directions %></p>

      <!-- Edit Recipe -->
      <% if current_user == @recipe.user %>
        <p class="edit"><%= link_to "Edit Recipe", edit_recipe_path(@recipe) %></p>
      <% end %>
    </div>

    <!-- User Sidebar -->
    <div class="user-sidebar-container">
      <%= link_to user_path(@recipe.user_id) do %>
        <%= image_tag @recipe.user.photo_url, id: 'user-sidebar-photo' %>
      <% end %>
      <p class="user-sidebar-subhead">Chef</p>
      <p id="user-sidebar-name"><%= @recipe.user.username %></p>
      <p class="user-sidebar-subhead">Culinary<br>Contributions:</p>
      <p id="user-sidebar-contributions"><%= @recipe.user.recipes.length %></p>

      <!-- Rule separating contributor from current_user actions in the sidebar -->
      <% if current_user %>
        <div class="sidebar-rule"></div>

        <!-- Add this recipe to my box -->
        <p class="user-sidebar-subhead" id="black">Dig this recipe?</p>
        <div id="add-to-my-box-container">

            <p class="user-sidebar-subhead">Box it</p>
              <% @user.boxes.each do |box| %>
                <p class="user-sidebar-box-list"><%= link_to box.title, add_to_box_recipe_box_path(@recipe, box.id), method: :post %></p>

                <!-- <p class="user-sidebar-box-list"><%# box.title %></p> -->


              <% end %>
              <p class="user-sidebar-subhead">Fav it</p>
            <div id="favorite"></div>
      <% end %>

      </div>
    </div>

  </section>
</div>
