<!-- User's most recent contribution as a featured photo -->
<a href="<%= recipe_path(@latest) %>"><section id="featured-photo-container" style="background-image:url('<%= @contributor.recipes.last.photo_url %>');background-position: cover;"></section></a>
<section id="featured-user-recipe-container">
  <div id="featured-user-recipe-wrapper">
    <a href="<%= recipe_path(@latest) %>"><span id="featured-user-recipe"><%= @contributor.username %>'s Latest Recipe</span></a>
    <span id="name-of-featured-user-recipe">|</span>
    <a href="<%= recipe_path(@latest) %>"><span id="name-of-featured-user-recipe"><%= @contributor.recipes.last.title %></span></a>
  </div>
</section>

<!-- Main Container for User Profile -->
<div class="main-container">

  <div id="profile-top-container">
    <!-- User Profile Name and Bio -->
    <section id="user-profile-container">
      <div id="user-profile-container">
        <h3 id="user-profile-name"><%= @contributor.username %></h2>
        <p id="user-bio">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
      </div>
    </section>

    <!-- User Sidebar -->
    <section class="user-sidebar-container">
      <%= image_tag @contributor.photo_url, id: 'user-sidebar-photo' %>
      <p class="user-sidebar-subhead">Culinary</br>Contributions:</p>
      <p id="user-sidebar-contributions"><%= @contributor.recipes.length %></p>
    </section>
  </div>

  <!-- User Profile Columns -->
  <section id="user-column-container">

    <!-- User Recipes -->
    <div class="profile-column">
      <p class="user-profile-column-subhead">Recipes</p>
      <div class="column-list">
        <% @contributor.recipes.each do |recipe| %>
          <p><%= link_to recipe.title, recipe_path(recipe) %></p>
        <% end %>
      </div>
      <!-- Add a Recipe -->
      <div class="user-add-container">
        <%= link_to "New Recipe", new_recipe_path, class: 'user-add' %>
      </div>
    </div>

    <!-- User Boxes -->
    <div class="profile-column">
      <p class="user-profile-column-subhead">Boxes</p>
      <div class="column-list">
        <% @contributor.boxes.each do |box| %>
          <p><%= link_to box.title, box_path(box) %></p>
        <% end %>
      </div>
      <!-- Add a Recipe Box -->
      <div class="user-add-container">
        <%= link_to "New Box", new_user_box_path(@user), class: 'user-add' %>
      </div>
    </div>

    <!-- User Favorites -->
    <div class="profile-column">
      <p class="user-profile-column-subhead">Favorites</p>
      <div class="column-list">
        <p>Table Butter</p>
        <p>Handful of Cherry Tomatoes</p>
        <p>Basil Pesto with Pine Nuts</li>
        <p>Scoobi Doo Pasta</p>
        <p>Short Pasta of Choice</p>
        <p>Cherrybomb Sushi</p>
        <p>Canadian Burrata</p>
      </div>
      <!-- Browse Recipes -->
      <div class="user-add-container">
        <%= link_to "Browse", recipes_path, class: 'user-add' %>
      </div>
    </div>
  </section>
  <p class="edit"><%= link_to "Edit Profile", user_path(@user) %></p>
</div>
