<%= form_for @box do |f| %>
  <p class="alert"><%= @box.errors.full_messages.first if @box.errors.any? %></p>

  <%= f.label :title, class: "form-label" %>
  <%= f.text_field :title, class: "form-text" %>

  <%= f.submit 'Create', class: "submit-button" %>

<% end %>
