<section id="featured-photo-container" style="background-image:url('
  <% if @box.recipes.length > 0 %>
    <%= @box.recipes.last.photo_url %>
  <% else %>
    <%= @recipes.last.photo_url %>
  <% end %>
');background-position: cover;"></section>
<section id="featured-user-recipe-container">
  <div id="featured-user-recipe-wrapper">
    <span id="featured-user-recipe">
        <% if @box.recipes.length > 0 %>
          Latest Addition to <%= @box.title %>
        <% else %>
          Latest Recipe
        <% end %>
    </span>
    <span id="name-of-featured-user-recipe">|</span>
    <span id="name-of-featured-user-recipe">
      <% if @box.recipes.length > 0 %>
        <%= @box.recipes.last.title %>
      <% else %>
        <%= @recipes.last.title %>
      <% end %>
    </span>
  </div>
</section>

<!-- Main content -->
<div class="main-container">

  <!-- Box contents -->
  <div id="recipe-content">
    <h3 id="recipe-title"><%= @box.title %></h2>
    <p id="recipe-description"><%= @box.description %></p>

    <!-- Recipes in Box -->
    <% @box.recipes.each do |recipe| %>
      <p class="box-title"><%= link_to recipe.title, recipe_path(recipe) %></p>
    <% end %>

    <!-- Edit Box -->
    <% if current_user == @box.user %>
      <div>
        <br />
        <%= link_to "Edit Box", edit_box_path(@box), class: "edit" %>
      </div>
    <% end %>
  </div>

  <!-- User Sidebar -->
  <div class="user-sidebar-container">
    <%= link_to user_path(@box.user_id) do %>
      <%= image_tag @box.user.photo_url, id: 'user-sidebar-photo' %>
    <% end %>
    <p class="user-sidebar-subhead">Chef</p>
    <p id="user-sidebar-name"><%= @box.user.username %></p>
    <p class="user-sidebar-subhead">Culinary<br>Contributions:</p>
    <p id="user-sidebar-contributions"><%= @box.user.recipes.length %></p>
  </div>

</div>
