<!DOCTYPE html>
<html>
  <head>
    <title>the food life</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,200,300|Vollkorn:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <div id="logo-container">
        <%= link_to 'the food life', recipes_path, id: 'logo' %>
      </div>
      <div id="nav-options-container">
        <%= link_to 'Recipes', recipes_path, class: 'nav-options' %>
        <h1 class="nav-options-bar">|</h1>
        <a href="<%= boxes_path %>"><h1 class="nav-options">Boxes</h1></a>
        <h1 class="nav-options-bar">|</h1>
        <% if current_user %>
          <div class="menu-wrap">
            <div class="menu">
              <ul class="clearfix">
                <li>
                  <%= link_to @user.username, user_path(@user), class: 'nav-options' %>
                  <ul class="sub-menu">
                    <%= link_to 'Signout', destroy_user_session_path, :method => :delete, class: 'sub-nav-options' %>
                  </ul>
                </li>
            </div>
          </div>
          <%= link_to user_path(@user) do %>
            <%= image_tag current_user.photo_url, id: 'profile-nav-photo' %>
          <% end %>
        <% else %>
          <%= link_to 'Signup', new_user_registration_path, class: 'nav-options' %>
          <h1 class="nav-options-bar">|</h1>
          <%= link_to 'Login', new_user_session_path, class: 'nav-options' %>
        <% end %>
      </div>
    </nav>
    <section id="main-content">
      <%= yield %>
    </section>
    <footer>
      <section id="footer-text-container">
        <div id="social-media-wrapper">
          <%= image_tag 'facebook.png', class: "social-media-icon" %>
          <%= image_tag 'twitter.png', class: "social-media-icon" %>
          <%= image_tag 'instagram.png', class: "social-media-icon" %>
          <%= image_tag 'youtube.png', class: "social-media-icon" %>
        </div>
        <%= link_to 'the food life', recipes_path, id: 'footer-logo', class: 'footer-text' %>
        <section id="login-container">
        <% if current_user %>
        <%= link_to 'My Profile', user_path(@user), id: 'login-options', class: 'footer-text' %>
        <%= link_to 'My Boxes', boxes_path(@user), id: 'login-options', class: 'footer-text' %>
        <%= link_to 'Signout', destroy_user_session_path, :method => :delete, id: 'login-options', class: 'footer-text' %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, id: 'login-options', class: 'footer-text' %>
          <%= link_to 'Signup', new_user_registration_path, id: 'login-options', class: 'footer-text' %>
        <% end %>
        </section>
        <p class="copyright">&copy; 2015 Jordan Brauner</p>
      </section>
    </footer>
  </body>
</html>
