<!DOCTYPE html>
<html>
  <head>
    <title>the food life</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Raleway:400,700,200,300|Vollkorn:400,700,400italic,700italic' rel='stylesheet' type='text/css'>
  </head>
  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav>
      <div id="logo-container">
        <%= link_to 'the food life', recipes_path, id: 'logo' %>
      </div>
      <div id="nav-options-container">
        <h1 id="nav-options">Recipes</h1>
        <h1 id="nav-options-bar">|</h1>
        <h1 id="nav-options">Boxes</h1>
        <h1 id="nav-options-bar">|</h1>
        <% if current_user %>
          <%= link_to @user.username, user_path(@user), id: 'nav-options' %>
          <%= image_tag current_user.photo_url, id: 'profile-nav-photo' %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, id: 'nav-options' %>
        <% end %>
      </div>
    </nav>
    <section id="main-content">
      <%= yield %>
    </section>
    <footer>
      <section id="footer-text-container">
        <%= link_to 'the food life', recipes_path, id: 'logo', class: 'footer-text' %>
        <section id="login-container">
        <% if current_user %>
          <%= link_to 'Signout', destroy_user_session_path, :method => :delete, id: 'login-options', class: 'footer-text' %>
        <% else %>
          <%= link_to 'Login', new_user_session_path, id: 'login-options', class: 'footer-text' %>
          <%= link_to 'Signup', new_user_registration_path, id: 'login-options', class: 'footer-text' %>
        <% end %>
        </section>
      </section>
    </footer>
  </body>
</html>
